<div class="container">
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <div>
        <h4 class="mb-0 fw-bold text-body"><?=$title?></h4>
        <ul class="breadcrumb small mb-0">
          <li class="breadcrumb-item small">
            <a href="/" class="pjax-load link-secondary"
              ><?=$jatbi->lang("Trang chủ")?></a
            >
          </li>
          <li class="breadcrumb-item small">
            <a href="/project" class="pjax-load link-secondary"
              ><?=$jatbi->lang("Dự án")?></a
            >
          </li>
          <li class="breadcrumb-item small text-body" aria-current="page">
            <?=$title?>
          </li>
        </ul>
      </div>
    </div>
    <?php include 'templates/project/projectDetail/menuProjectDetail.html'; ?>
    <div class="card bg-body bg-opacity-50 shadow-sm border-0 rounded-2">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0 fw-bold text-body"><?=$jatbi->lang("Gương mặt")?></h5>
            </div>
            <table
                id="datatable"
                data-table
                class="table align-middle"
                data-type="POST"
                data-server="true"
                data-processing="true"
                data-page-length="10"
                data-searching="false"
                data-paging="true"
                data-state-save="true"
                style="width: 100%"
            >
                <thead>
                    <tr>
                        <th
                            data-name="image"
                            data-orderable="true"
                            class="text-nowrap"
                            data-visible="true"
                            data-class="text-nowrap"
                        >
                        </th>
                        <th
                            data-name="name"
                            data-orderable="true"
                            class="text-nowrap"
                            data-visible="true"
                            data-class="text-start"
                        >
                            <?=$jatbi->lang("TÊN")?>
                        </th>
                        <th
                            data-name="type"
                            data-orderable="true"
                            class="text-nowrap"
                            data-visible="true"
                            data-class=""
                        >
                            <?=$jatbi->lang("LOẠI")?>
                        </th>
                        <th
                            data-name="area"
                            data-orderable="true"
                            class="text-nowrap"
                            data-visible="true"
                            data-class="text-center"
                        >
                            <?=$jatbi->lang("KHU VỰC")?>
                        </th>
                        <th
                            data-name="status"
                            data-orderable="true"
                            class="text-nowrap"
                            data-visible="true"
                            data-class="text-end"
                        >
                            <?=$jatbi->lang("TRẠNG THÁI")?>
                        </th>
                        <th
                            data-name="action"
                            data-orderable="false"
                            class="text-nowrap"
                            data-visible="true"
                            data-class="text-center"
                        >
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>