<div class="container">
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <div>
        <h4 class="mb-0 fw-bold text-body"><?=$title?></h4>
        <ul class="breadcrumb small mb-0">
          <li class="breadcrumb-item small">
            <a href="/" class="pjax-load link-secondary"
              ><?=$jatbi->lang("Trang chủ")?></a
            >
          </li>
          <li class="breadcrumb-item small">
            <a href="/project" class="pjax-load link-secondary"
              ><?=$jatbi->lang("Dự án")?></a
            >
          </li>
          <li class="breadcrumb-item small text-body" aria-current="page">
            <?=$title?>
          </li>
        </ul>
      </div>
      <div class="filter-search">
        <div class="d-flex align-items-center justify-content-end">
          <div class="dropdown">
            <button
              class="btn btn-primary-light fw-semibold border-0 rounded-pill small d-flex align-items-center"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-auto-close="outside"
            >
              <i class="ti ti-filter fs-5 me-2"></i>
              <?=$jatbi->lang("Điều kiện lọc")?>
            </button>
            <div
              class="dropdown-menu dropdown-menu-end border-0 shadow-lg rounded-4 min-width bg-blur"
              style="--min-width: 300px; --min-width-xs: 100vw"
            >
              <div class="fw-semibold py-2 px-3">
                <?=$jatbi->lang("Điều kiện lọc")?>
              </div>
              <hr class="border-secondary border-opacity-50 my-2" />
              <div class="px-3">
                <?=$app->component('select', [ "name" => 'status', "placeholder"
                => $jatbi->lang("Trạng thái"), "selected" =>
                $app->xss($_GET['status'] ?? ''), "class" => 'filter-name', "attr"
                => 'data-width="100%"', "options" => [ ["value" => "A", "text" =>
                $jatbi->lang("Kích hoạt")], ["value" => "D", "text" =>
                $jatbi->lang("Không Kích hoạt")], ] ])?>
              </div>
              <hr class="border-secondary border-opacity-50 my-2" />
              <div class="px-3 py-2 text-end w-100">
                <button
                  type="button"
                  class="btn btn-light px-3 rounded-pill py-2 reset-filter"
                >
                  <?=$jatbi->lang("Làm mới")?>
                </button>
                <button
                  type="button"
                  class="btn btn-primary px-3 rounded-pill py-2 button-filter"
                >
                  <?=$jatbi->lang("Tìm")?>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <?php include 'templates/project/projectDetail/menuProjectDetail.html'; ?>
    <div class="card bg-body bg-opacity-50 shadow border-0 rounded-4">
		<div class="card-body">
      <h4 class="ps-3 py-2">Camera <?=$id?></h4>
            <div class="custom-buttons d-none">
                <div class="d-flex align-items-center justify-content-end">
                    <!-- <button class="btn rounded-pill btn-sm btn-primary d-flex align-items-center me-1" data-action="modal" data-url="/project-add"><i class="ti ti-plus fs-6 me-1" aria-hidden="true"></i> <?=$jatbi->lang("Thêm")?></button>
                    <button class="btn rounded-pill btn-sm btn-danger d-flex align-items-center" data-action="modal" data-checkbox="input.checker" data-url="/users/accounts-deleted"><i class="ti ti-trash fs-6 me-1" aria-hidden="true"></i> <?=$jatbi->lang("Xóa")?></button> -->
                </div>
            </div>
            <table id="datatable" 
                    data-table 
                    class="table align-middle" 
                    data-type="POST" 
                    data-server="true" 
                    data-processing="true" 
                    data-page-length="10"
                    data-searching="true"
                    data-paging="true"
                    data-state-save='true'
                    style="width:100%">
                <thead>
                    <tr>
                        <th data-name="name" data-orderable="true" class="text-nowrap " data-visible="true" data-class="ps-4 text-nowrap"><?=$jatbi->lang("Tên")?></th>
                        <th data-name="area" data-orderable="true" class="text-nowrap " data-visible="true" data-class="text-start"><?=$jatbi->lang("Khu vực")?></th>
                        <th data-name="face_count" data-orderable="true" class="text-nowrap " data-visible="true" data-class="text-start"><?=$jatbi->lang("Gương mặt")?></th>
                        <th data-name="face_type" data-orderable="false " class="text-nowrap " data-visible="true" data-class="text-start"></th>
                        <th data-name="device_code" data-orderable="false" class="text-nowrap " data-visible="true" data-class="text-start"></th>
                        <th data-name="status" data-orderable="false" class="text-nowrap " data-visible="true" data-class="text-center"><?=$jatbi->lang("Trạng thái")?></th>
                        <th data-name="action" data-orderable="false" class="text-nowrap " data-visible="true" data-class="text-end"><?=$jatbi->lang("Tùy chọn")?></th>
                    </tr>
                </thead>
            </table>
		</div>
	</div>
</div>